<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practico 01</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <p>
            <h1>TRABAJO PRACTICO N°1</h1> 
        </p>
        <hr>
        <h1>Paso #1 – Creación repositorio</h1>
        <hr>
        <h1>Paso #2 - Información de Perfil Simple (Interpolación)</h1>
        <h2>Nombre: {{nombre}}</h2>
        <h2>Edad: {{edad}}</h2>
        <h2>Ciudad: {{ciudad}}</h2>
        <h1>Hola, mi nombre es {{nombre}}, tengo {{edad}} años y vivo en {{ciudad}}.</h1>
        <hr>
        <h1>Paso #3 – Contador Interactivo (Interpolación y Eventos)</h1>
        <h2>Contador: {{contador}}</h2>
        <button @click="aumentar">Aumentar en 1</button><button v-on:click="decrementar">Decrementar en 1</button>
        <hr>
        <h1>Paso #4 – Lista de Tareas con Conteo y Estado</h1>
        <ul>
            <li v-for="tarea in tareas" :key="tarea.id">
                {{tarea.texto}} <input type="checkbox" v-model="tarea.completada">
            </li>
        </ul>
        <p>
            <input type="text" v-model="nuevaTarea" placeholder="Nueva tarea">
        </p>
        <button @click="agregarTarea">Añadir Tarea</button>
        <h2>Total de Tareas: {{totalTareas}}</h2>
        <h2>Tareas Pendientes: {{tareasPendientes.length}}</h2>
        <hr>
        <h1>Paso #5 – Lista de eventos</h1>
        <ul>
            <li v-for="evento in listaeventos" :key="evento.id">
                {{evento.nombre}} / {{evento.timestamp}}
            </li>
        </ul>
        <hr>
        <h1>Paso #6 – Implementación de Axios</h1>
        <hr>
        <h1>Paso #7 – Uso de las funciones</h1>
        <li v-for="post in posts" :key="post.id">
            <strong>Post {{ post.id }}</strong>
            <p>{{ post.title }}</p>
            <p>{{ post.body }}</p>
        </li>
        
   
    </div>
    <script>
       var app= new Vue({
           el: '#app',
           data: {
               nombre: 'Sofia Sferco',
               edad: 33,
               ciudad: 'Viedma',
               contador: 0,
               nuevaTarea: '',
               tareas: [
                {
                id:1,
                texto: 'Aprender Vue',
                completada: false,
               },
                {
                id:2,
                texto: 'tp1',
                completada: true,
               },
               {
                id:3,
                texto: 'PWA',
                completada: true,
               },
            ],
            listaeventos: [],
            posts: [],
            comentarios: [],
           },

            methods: {
               aumentar: function() {
                    this.contador++;
               },
               decrementar: function() {
                    this.contador--;
               },
               agregarTarea: function () {
                this.tareas.push({
                    id:this.tareas.length + 1,
                    texto: this.nuevaTarea,
                    completada:false,
                    }
                )
                this.nuevaTarea = '';
                },
                agregarEvento: function (nombre){
                    this.listaeventos.push({
                        id: this.listaeventos.length + 1,
                        nombre: nombre,
                        timestamp: Date.now(),
                    })
                },
                obtenerPost: function(postId) {
                    return axios.get('https://jsonplaceholder.typicode.com/posts/' + postId)
                    .then(function (response) {
                        return response.data;
                    })
                },
                obtenerComments: function(postId) {
                    return axios.get('https://jsonplaceholder.typicode.com/posts/' + postId + '/comments')
                    .then(function (response) {
                        return response.data;
                    })
                },
                cargarComentarios: function (postId) {
                    this.obtenerComments(postId).then((comments) => {
                        this.comentarios =comments;
                    })
                },
            },
           computed: {
            tareasPendientes: function() {
                        return this.tareas.filter(function(tarea){
                            return tarea.completada==false
                        }
                    )
                    },
            totalTareas: function() {
                    return this.tareas.length;
                    },
            
            },
            created: function () {
                this.agregarEvento('beforeCreate');
                this.agregarEvento('created');
                for (let i=1; i <= 10; i++){
                    this.obtenerPost(i).then((post) => {
                        this.posts.push(post);
                    });
                }
            },
            beforeMount: function () {
                this.agregarEvento('beforeMount');
            },
            mounted: function() {
                this.agregarEvento('mounted');
            },
            beforeUpdate: function() {
                console.log('beforeUpdate', Date.now());
            },
            updated: function() {
                console.log('updated', Date.now());
            },
            beforeDestroy: function () {
                this.agregarEvento('beforeDestroy');
            },
            destroyed: function () {
                console.log('destroyed', Date.now());
            },


        }
        
       )
    </script>
</body>
</html>