<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practico 01</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>
            <h1>TRABAJO PRACTICO N°1</h1> 
        </p>
        <hr>
        <h1>Paso #1 – Creación repositorio</h1>
        <hr>
        <h1>Paso #2 - Información de Perfil Simple (Interpolación)</h1>
        <h2>Nombre: {{nombre}}</h2>
        <h2>Edad: {{edad}}</h2>
        <h2>Ciudad: {{ciudad}}</h2>
        <h1>Hola, mi nombre es {{nombre}}, tengo {{edad}} años y vivo en {{ciudad}}.</h1>
        <hr>
        <h1>Paso #3 – Contador Interactivo (Interpolación y Eventos)</h1>
        <h2>Contador: {{contador}}</h2>
        <button @click="aumentar">Aumentar en 1</button><button v-on:click="decrementar">Decrementar en 1</button>
        <hr>
        <h1>Paso #4 – Lista de Tareas con Conteo y Estado</h1>
        <ul>
            <li v-for="tarea in tareas" :key="tarea.id">
                {{tarea.texto}} <input type="checkbox" v-model="tarea.completada">
            </li>
        </ul>
        <p>
            <input type="text" v-model="nuevaTarea" placeholder="Nueva tarea">
        </p>
        <button @click="agregarTarea">Añadir Tarea</button>
    </div>
    <script>
       var app= new Vue({
           el: '#app',
           data: {
               nombre: 'Sofia Sferco',
               edad: 33,
               ciudad: 'Viedma',
               contador: 0,
               nuevaTarea: '',
               tareas: [
                {
                id:1,
                texto: 'Aprender Vue',
                completada: false,
               },
                {
                id:2,
                texto: 'tp1',
                completada: true,
               },
               {
                id:3,
                texto: 'PWA',
                completada: true,
               },
            ]
           },
            methods: {
               aumentar: function() {
                    this.contador++;
               },
               decrementar: function() {
                    this.contador--;
               },
               agregarTarea: function () {
                this.tareas.push({
                    id:this.tareas.leng
                    texto: this.nuevaTarea.texto,
                    completada:this.nuevaTarea.completada,
                    }
                )
            },
           }
       })
    </script>
</body>
</html>